body {
  display: block;
  text-align: center;
  background-color: lavender;
}

.jumbotron {
  background-color: rgb(0,0,139);
  color: seashell;
}

button {
  margin: 5px;
}

#item1 {grid-area: info}
#item2 {grid-area: letters;}
#item3 {grid-area: lives;}
#item4 {grid-area: answer;}

.container {
  display: grid;
  grid-template-areas:
    'info letters lives'
    'answer answer answer';
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 400px;
}

.info {
  margin-left: -175px;
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
}

.letters {
  width: 325px;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  display: none;
}

.lives {
  border: 1px solid gray;
  padding-top: 25%;
  width: 200px;
  height: 200px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  display: none;
}

.answer {
  margin-left: 35px;
  background-color: brown;
  width: 325px;
  height: 25px;
  float: left;
  color: wheat;
  border-radius: 10px;
  display: none;
}

.imghappy, .imgsad {
  margin-top: 10px; 
  background-color: lavender;
  display: none;
}

.imghangman {
  display: block;
}