body {
  display: block;
  text-align: center;
  background-color: seashell;
}

.jumbotron {
  background-color: rgb(0,0,139);
  color: seashell;
}

button {
  margin: 5px;
}

#item1 {grid-area: letters;}
#item2 {grid-area: lives;}
#item3 {grid-area: answer;}

.container {
  display: grid;
  grid-template-areas:
    'letters lives'
    'answer answer';
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 400px;
}

.letters {
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  float: left;
}

.lives {
  border: 1px solid gray;
  padding-top: 25%;
  width: 200px;
  height: 200px;
  float: right;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.answer {
  background-color: brown;
  width: 200px;
  height: 25px;
  float: left;
  color: wheat;
  border-radius: 10px;
}