body {
  display: block;
  text-align: center;
}

.start, .reset {
  margin: 5px;
}

#item1 {grid-area: letters;}
#item2 {grid-area: lives;}
#item3 {grid-area: answer;}

.container {
  display: grid;
  grid-template-areas:
    'letters lives'
    'answer answer';
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 400px;
}

.letters {
  background-color: aqua;
  width: 200px;
  height: 200px;
  float: left;
}

.lives {
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  float: right;
  text-align: center;
}

.answer {
  background-color: brown;
  width: 200px;
  height: 25px;
  float: left;
  color: wheat;
}